/* Add CSS Styling */

.odd-numbers {
    background-color: #ffd1f3;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.font-increase {
    font-size: 24px;
}

#fourth {
    background-color: hsl(97, 100%, 78%);
    font-weight: bold;
}