* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;

  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1/3;

  background-color: #393f4d;
}

.logo {
  justify-self: start;
}

.menu {
  align-self: center;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sidebar {
  display: grid;
  gap: 50px;
  grid-row: 2/4;

  background-color: #c50208;
}

.sidebar .photo {
  display: grid;
  align-items: center;

  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  display: grid;
  align-items: center;

  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #c50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  height: 200px;

  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1/3;
  
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
